<!DOCTYPE html>
<html>
    <head>
        <title>Mustache</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
    <ul>
       {{#users}}
        <li>
            <h3>Name: {{name}}</h3>
            <h4>Colors:</h4>
            <ul>
                {{#colors}}
                    <li>{{.}}</li>
                {{/colors}}
            </ul>
        </li>
        {{/users}}
      
    </ul>
    </body>
</html>

